// 公共导航栏隐藏控制
.el-header {

  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 0 !important;
  background-size: cover;       /* 图片覆盖整个区域 */
  background-position: center;  /* 图片居中 */
  background-repeat: no-repeat; /* 禁止重复 */
  height: 700px;               /* 建议设置固定高度 */
        // 条纹叠加层
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: 
      repeating-linear-gradient(
        45deg, 
        rgba(255, 255, 255, 0.08) 0, 
        rgba(255, 255, 255, 0.08) 1px, 
        transparent 1px, 
        transparent 6px
      );  // 条纹背景
  }
  // 图上文字
    .header-content {
    position: relative;
    margin-top: 300px;
    text-align: center;
    z-index: 2;
      h1 {
    font-size: 48px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;
    margin: 0;
  }

  p {
    margin-top: 16px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  }
  }
  // 泡泡容器
.bubble-container {
  position: absolute;
  inset: 0; //充满盒子
  overflow: hidden;
  z-index: 3;
  pointer-events: none;

}
}
.el-main { 
   padding: 0 !important;
}
.el-footer {
    padding: 0 !important;
}
.nav-bar {
  position: fixed; /* 固定在页面最顶部 */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* 保证浮在最上层 */
  transition: transform 0.5s ease, background-color 0.5s ease; /* 平滑动画 */
  background-color: rgba(0, 0, 0, 0); /* 初始透明 */
}

.nav-bar.hide {
  transform: translateY(-100%); /* 向上滑动自己，把导航栏“藏起来” */
    background-color: rgba(0, 0, 0, 0.3); /* 向上收缩时，渐显出灰色背景 */
}