
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
        color: #555;
}
a {
  text-decoration: none;
  color:black ;
}
a:hover {
  color: #409eff;
  
}
/* 隐藏滚动条 */
  &::-webkit-scrollbar {
    display: none;
  }
/* 全局使用border-box更合理 */
*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  display: flex; 
  width: 100%;
}

