html, body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  color: #555;
}
/* ✅ 只保留页面滚动：关闭 Element Plus 内部滚动 */
.el-container,
.el-main {
  height: auto !important;
  overflow: visible !important;
}

a {
  text-decoration: none;
  color:black ;
}
a:hover {
  color: #409eff;
}
/* 隐藏滚动条 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
/* 全局使用border-box更合理 */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 部分标签禁用所有鼠标事件	 */
span,p,h4,h1 {
        pointer-events: none;
}
#app {
  display: flex; 
  width: 100%;
}
/* 网页加载条样式 */
/* 顶部蓝色进度条 */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(to right, #3498db, #5dade2, #3498db);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.7);
  animation: glow 1.2s infinite ease-in-out;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #3498db;
  }
  50% {
    box-shadow: 0 0 10px #5dade2;
  }
  100% {
    box-shadow: 0 0 5px #3498db;
  }
}
@media (max-width: 768px) {

}